In [1]:
%load_ext autoreload
%autoreload 2

In [145]:
from luciferase.io import TecanReader

In [172]:
testfile = '/Users/rejsmont/Downloads/Data-illumina-13_01_2021.xlsx'
assay = TecanReader.read(testfile)
assay.data

cycle                    1                                                   \
label                GFP100           GFP50           GFP75           OD600
time        0 days 00:00:00 0 days 00:00:00 0 days 00:00:00 0 days 00:00:00
temperature            30.1            29.8            30.0            29.9
row column
A   3                 316.0             3.0            39.0          0.0504
    4                 486.0             4.0            60.0          0.0570
    5                 478.0             3.0            57.0          0.0568
    6                 482.0             4.0            58.0          0.0557
    7                 476.0             4.0            58.0          0.0554
...                     ...             ...             ...             ...
H   6                 494.0             3.0            60.0          0.0534
    7                 487.0             3.0            61.0          0.0548
    8                 508.0             3.0            60.0          0.0578
    9                 518.0             3.0            61.0          0.0572
    10                337.0             2.0            41.0          0.0497

cycle                                                        \
label              mKate100         mKate50         mKate75
time        0 days 00:00:00 0 days 00:00:00 0 days 00:00:00
temperature            30.0            30.0            29.8
row column
A   3                   5.0             0.0             0.0
    4                   7.0             0.0             0.0
    5                   6.0             0.0             1.0
    6                   6.0            -1.0             1.0
    7                   7.0             0.0             1.0
...                     ...             ...             ...
H   6                   7.0             0.0             0.0
    7                   7.0             0.0             1.0
    8                   7.0             1.0             1.0
    9                   8.0             0.0             1.0
    10                  4.0             0.0             0.0

cycle                           2                          \
label                       GFP100                  GFP50
time        0 days 00:15:37.100000 0 days 00:15:37.100000
temperature                   30.1                   30.0
row column
A   3                        318.0                    2.0
    4                        508.0                    3.0
    5                        502.0                    3.0
    6                        489.0                    3.0
    7                        488.0                    3.0
...                            ...                    ...
H   6                        496.0                    3.0
    7                        489.0                    3.0
    8                        506.0                    3.0
    9                        506.0                    4.0
    10                       335.0                    2.0

cycle                               ...              56                  \
label                        GFP75  ...        mKate100         mKate50
time        0 days 00:15:37.100000  ... 0 days 14:18:57 0 days 14:18:57
temperature                   30.0  ...            30.7            30.5
row column                          ...
A   3                         38.0  ...             9.0             4.0
    4                         58.0  ...            19.0             4.0
    5                         61.0  ...            14.0             4.0
    6                         58.0  ...            46.0             4.0
    7                         57.0  ...           933.0            10.0
...                            ...  ...             ...             ...
H   6                         58.0  ...            50.0             4.0
    7                         59.0  ...          1107.0            11.0
    8                         60.0  ...            17.0             5.0
    9                         60.0  ...           517.0             7.0
    10                        39.0  ...             9.0             4.0

cycle                                    57                                  \
label               mKate75          GFP100           GFP50           GFP75
time        0 days 14:18:57 0 days 14:34:34 0 days 14:34:34 0 days 14:34:34
temperature            30.4            30.8            30.4            30.5
row column
A   3                   4.0           316.0             6.0            41.0
    4                   6.0           548.0             7.0            68.0
    5                   5.0           560.0             8.0            68.0
    6                   9.0           507.0             8.0            63.0
    7                 115.0           571.0             8.0            70.0
...                     ...             ...             ...             ...
H   6                  10.0           520.0             8.0            65.0
    7                 134.0           584.0             7.0            73.0
    8                   6.0           494.0             8.0            61.0
    9                  65.0           634.0             8.0            78.0
    10                  5.0           332.0             6.0            43.0

cycle                                                               \
label                        OD600        mKate100         mKate50
time        0 days 14:34:34.200000 0 days 14:34:34 0 days 14:34:34
temperature                   30.8            30.5            30.7
row column
A   3                       0.0509             9.0             4.0
    4                       0.5684            17.0             5.0
    5                       0.5372            14.0             4.0
    6                       0.5177            48.0             6.0
    7                       0.2061           924.0            10.0
...                            ...             ...             ...
H   6                       0.5408            49.0             5.0
    7                       0.2175          1093.0            11.0
    8                       0.4945            18.0             4.0
    9                       0.2101           515.0             6.0
    10                      0.0503             9.0             4.0

cycle
label               mKate75
time        0 days 14:34:34
temperature            30.7
row column
A   3                   4.0
    4                   6.0
    5                   6.0
    6                  10.0
    7                 116.0
...                     ...
H   6                  10.0
    7                 136.0
    8                   6.0
    9                  64.0
    10                  5.0

[64 rows x 399 columns]

In [174]:
assay.data.columns.get_level_values('time') + assay.start

DatetimeIndex([       '2021-01-12 18:08:00',        '2021-01-12 18:08:00',
                      '2021-01-12 18:08:00',        '2021-01-12 18:08:00',
                      '2021-01-12 18:08:00',        '2021-01-12 18:08:00',
                      '2021-01-12 18:08:00', '2021-01-12 18:23:37.100000',
               '2021-01-12 18:23:37.100000', '2021-01-12 18:23:37.100000',
               ...
                      '2021-01-13 08:26:57',        '2021-01-13 08:26:57',
                      '2021-01-13 08:26:57',        '2021-01-13 08:42:34',
                      '2021-01-13 08:42:34',        '2021-01-13 08:42:34',
               '2021-01-13 08:42:34.200000',        '2021-01-13 08:42:34',
                      '2021-01-13 08:42:34',        '2021-01-13 08:42:34'],
              dtype='datetime64[ns]', name='time', length=399, freq=None)

In [169]:
testfile = '/Users/rejsmont/Downloads/single.xlsx'
assay = TecanReader.read(testfile)
assay.data

cycle                1
label            Assay
time            0 days
temperature       24.3
row column
A   1         743028.0
B   1         227624.0
C   1         108475.0
D   1            131.0
A   2         738911.0
B   2          47636.0
C   2          57672.0
D   2            248.0
A   3         666944.0
B   3         203280.0
C   3          41519.0
D   3            486.0
A   4        1053714.0
B   4         324514.0
C   4         820402.0
D   4            736.0
A   5         991314.0
B   5        1021574.0
C   5         176271.0
D   5            866.0
A   6        1028043.0
B   6        1034460.0
C   6         191270.0
D   6            735.0